# Palladio LQNS Headless Configuration

# Absolute path to SimpleTacticsExample file
Storage_Path=C:\\...\\src\\main\\resources\\SimpleTacticsExample

# Path to usage model in SimpleTacticsExample
Filename_UsageModel=C:\\...\\src\\main\\resources\\SimpleTacticsExample\\default.usagemodel

# Path to allocation model in SimpleTacticsExample
Filename_AllocationModel=C:\\...\\src\\main\\resources\\SimpleTacticsExample\\default.allocation

# Output path for LQNS
Output_Path=C:\\...\\tmp

# path to palladio default models
PCM_Models_Location=file:/C:/.../Palladio/Core/trunk/PCM/org.palladiosimulator.pcm.resources/defaultModels/